*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    color: black;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/bg\ blue.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 30px 10%
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 17%;
    color: white;
}

.header-text h1 span{
    color:rgb(61, 10, 173);
}

.header-text h2{
    font-size: 18px;
    margin-top: 2%;
    color: whitesmoke;
}

.socialIcon a{
    text-decoration: none;
    padding: 6px;
    background-color: black;
    margin: 3px;
    border-radius: 50%;
}

.socialIcon a i{
    font-size: 2em;
    color: white;
    opacity: 0.9;
    margin-top: 2%;
}

.socialIcon a:hover{
    background-color: rgb(6, 6, 152);
    transition: 0.5s;
}

.socialIcon a:hover i{
    background-color: back;
    transition: 0.5s;
}
/*ABOUT*/

#about{
    padding: 70px 0;
    background-image: url(images/bg\ blue\ 2.png);
    color: white;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 40%;
}

.about-col-1 img{
    width:100%;
    border-radius: 50px;
}

.about-col-2{
    margin-top: -5%;
    flex-basis: 50%;
    font-size: 22px;
}

.about-col-2 p{
    font-size: 18px;
    margin-top: 5%;
}

.about-col-2 h2{
    margin-top: 5%;
    flex-basis: 50%;
    font-size: 34px;
}


/*PORTFOLIO*/
#portfolio{
    padding: 20px 0;
    background-image: url(images/bg\ blue3.png);
    color: white;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 320px;
    border-radius: 10px;
    display: block;
}

.layer{
    width: 100%;
    height: 100%;
    margin-top: 10%;
    font-size: 30px;
}

.layer p {
    color: white;
    margin-top: 5%;
    font-size: 14px;
    margin-right: 0px;
}



